* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header {
display: flex;
justify-content:space-between;
color:rgb(243, 243, 243);
padding-left: 60px;
}
.ali{
    font-size: 19px;
}
.name {
padding-top: 15px;
font-size: 12px;
}
.u {
padding-top: 100px;
padding-left: 60px;
color:rgb(238, 237, 237);
}
.first button {
    margin-left: 1px;
    background-color:rgb(110, 110, 110);
    border:white;
    cursor: pointer;
}
.first button :hover{
    background-color: rgb(110, 110, 110);
}
.navibar {
    margin-right: 20px;
    margin-top: 20px;
}
.navibar ul {
    display: flex;
    gap: 30px;
}
.navibar ul li a {
    text-decoration: none;
    font-size: 25px;
    color:white;
}
.navibar ul li{
    list-style: none;
}
.Home {
    color:white;
    text-decoration: underline;
}
.home-content{
    height: 100vh;
    background-image:url("https://images.pexels.com/photos/8256772/pexels-photo-8256772.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load");
    background-repeat: no-repeat;
    opacity: 0.9;
    background-size: cover;
    background-position: center;
}
button{
    padding: 10px;
    margin-left: 180px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    /* background-color: rgb(79, 122, 79); */
    color:white;
    background-color: none;
}
.sepa{
    display: flex;
    gap: 70px;
}
.gra img{
    height: 87vh;
}